[include]
 path = ~/.gitconfig.local
[color]
  ui = auto
[push]
  default = current
[alias]
  co = checkout
  cm = commit
  cma = commit --amend
  br = branch
  lg = log --graph --oneline --format=format:'%h [%ci] %s'
  lgns = log --oneline --format=format:'%h [%ci] %s' --name-status
  ss = status -s
